#container1 {
    display: grid;
    border: 1px solid blue;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px 150px;
}

#container1>#child1 {
    background-color: brown;
}

#container1>#child2 {
    background-color: purple;
}

#container1>#child3 {
    background-color: fuchsia;
}

#container1>#child4 {
    background-color: hotpink;
}