* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {}

#presentation {
    border: 2 px black;

}

#information {
    border: 2 px black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 70vh;
}

#right {
    width: 20%;
    padding: ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: ;
}

#left {
    width: 40%;
    padding: 2rem;
    font-size: ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div {
    border: 2 px red;
}

img {
    width: 100%;
}

body