* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Redbox {
    border: 10px solid rgb(233, 63, 29);
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.pack1 {
    border: 1px solid burlywood;
    background-color: rgb(120, 220, 242);
    width: 400px;
    height: 50px;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pack {
    border: 1px solid burlywood;
    background-color: rgb(120, 220, 242);
    width: 200px;
    height: 75px;
    font-size: x-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Redbox>#1B2 {
    align-items: center;
}