* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Redbox {
    border: 10px solid rgb(5, 134, 91);
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pack1 {
    border: 1px solid burlywood;
    background-color: rgb(120, 220, 242);
    width: 100px;
    height: 25px;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pack {
    border: 1px solid burlywood;
    background-color: rgb(120, 220, 242);
    width: 100px;
    height: 25px;
    font-size: x-large;
    display: flex;
    flex-direction: row;

}