* {
    padding: 0px;
    margin: 0px;
    color: antiquewhite;
}

body {
    background-image: url("cover.jpg");
    background-repeat: no-repeat;
    background-color: #000000;
    background-size: cover;
    width: 100%;
}

#top-nav {
    margin: none;
    background-color: white;
    height: 60px;
    opacity: 80%;
    position: sticky;
    display: flex;
    justify-content: space-between;
}

#nav-logo {
    padding: 7px;
}

#top-nav-ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#top-nav-ul>li>a {
    color: rgb(38, 48, 83);
    font-weight: bold;
    height: 100%;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0px 20px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}

#MoonKnight {
    margin-top: 400px;
    padding-left: 80px;
}

#MarcSpector {
    color: rgb(208, 234, 232);
    text-align: left;
    font-size: 30px;
    padding-right: 50px;
    cursor: pointer;


}

#moonImage {
    width: 400px;
    height: 350px;
    display: none;
}

#MarcSpector:hover+#moonImage {
    display: block;
}

#desc {
    color: rgb(111, 176, 181);
    font-size: 19px;
    height: 620px;
    width: 430px;
    text-align: justify;
    width: 40%;
    padding-right: 50px;
}

strong {
    color: rgb(85, 216, 225);
    font-size: 21px;
}

/* Faire le meme montage que le survol titre et image pour le partagraphe de description */